{% extends 'base.html' %}

{% block content %}

<div class='row text-center'>
    <div class ='col'> 
        <h1>Welcome to Hooter 2</h1>
    </div>
</div>

<div class='row mb-3'>
    <div class='col-md-4 mx-auto col-10'>
        <form class='form' id='hoot-create-form' method='POST' action='/create-hoot'>
            {% csrf_token %}
            <div class='d-none alert alert-danger' id='hoot-create-form-error'></div>
            <input type='hidden' value='/' name='next'/>
            <textarea required='required' class='form-control' name='content' placeholder="Your Hoot..."></textarea>
            <button type='submit' class='btn btn-primary'>Hoot</button>
        </form>
    </div>
</div>


<div class='row' id='hoots'>
    Loading...
</div>

<script> 

function handleHootFormError(msg, display) {

    var errorDiv = document.getElementById("hoot-create-form-error")
    if (display === true) {
        // Show error
        errorDiv.setAttribute("class", "d-block alert alert-danger")
        errorDiv.innerHTML = msg
    } else {
        // Hide error
        errorDiv.setAttribute("class", "d-none alert alert-danger")
    }
}

function handleFormDidSubmit(event) {
    event.preventDefault()
    const myForm = event.target
    const myFormData = new FormData(myForm)
    const url = myForm.getAttribute("action")
    const method = myForm.getAttribute("method")
    const xhr = new XMLHttpRequest()
    xhr.open(method, url)
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
    xhr.onload = function() {
        if (xhr.status === 201){
            handleHootFormError("", false)
            const newHoot = xhr.response
            const newHootJson = JSON.parse(newHoot)
            const newHootElement = formatHootElement(newHootJson)
            const ogHtml = hootsContainerElement.innerHTML
            hootsContainerElement.innerHTML = newHootElement + ogHtml
            myForm.reset()
        } else if (xhr.status === 400) {
            const errorJson = xhr.response
            const contentError = JSON.parse(errorJson).content
            let contentErrorMsg
            if (contentError) {
                contentErrorMsg = contentError[0]
                if (contentErrorMsg) {
                    handleHootFormError(contentErrorMsg, true)
                } else {
                    alert("An error occured")
                }
            } else {
                alert("An error occured")
            }
            
        } else if (xhr.status === 500) {
            alert("server error, try again")
        } else if (xhr.status === 401) {
            alert("You must login")
        }
    }
    xhr.onerror = function() {
        alert("An error has occured")
    }
    xhr.send(myFormData)
}

const hootCreateFormEl = document.getElementById("hoot-create-form")

hootCreateFormEl.addEventListener("submit", handleFormDidSubmit)

const hootsContainerElement = document.getElementById("hoots")

function loadHoots(hootsElement) {
    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = "/hoots"
    const responseType = "json"

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function() {
        const serverResponse = xhr.response
        const listedItems = serverResponse.response
        var finalHootStr = ""
        var i;
        for(i = 0;i<listedItems.length;i++){
            var hootObj = listedItems[i]
            finalHootStr += formatHootElement(hootObj)
        }
        hootsElement.innerHTML = finalHootStr
    }
    xhr.send()
}

loadHoots(hootsContainerElement)

function handleDidLike(hoot_id, currentCount){
    console.log(hoot_id, currentCount)
    currentCount++;
    return currentCount
}

function LikeBtn(hoot){
    return "<button class='btn btn-primary btn-small' onclick=handleDidLike(" + 
    hoot.id + "," + hoot.likes + ")>" + hoot.likes + " Likes</button>"
}

function formatHootElement(hoot){
    var formattedHoot = "<div class='col-12 border rounded py-3 mb-4 hoot' id='hoot-" + hoot.id 
    + "' ><p>" + hoot.content + 
        "</p><div class='btn-group'>" + LikeBtn(hoot) + 
        "</div></div>"
    return formattedHoot
}

</script>

{% endblock content %}